<% provide(:title, "Message Box") %>
<div>
  <%= link_to "Back to Inbox", conversations_path %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3><%="#{@conversation.post.name} - #{@user.name} (#{pluralize(@conversation_count, "message")})" %></h3>
      <hr>
      <div class="message_box">
        <%= render 'form' %>
      </div>
      <div>
        <%= will_paginate @messages, param_name: 'messages_page' %>
        <% @messages.each do |message| %>
          <% if message.message_body %>
            <% user = User.find(message.user_id) %>
            <div>
              <div>
                <div>
                  <strong><%= user.name %> </strong>
                  <%= message.message_time %>
                </div>
                <div>
                  <div>
                    <%= message.message_body %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= will_paginate @messages, param_name: 'messages_page' %>
      </div>
    </div>
  </div>
</div>