<% provide(:title, "Categories") %>
<div>
  <h1>List of Categories</h1>
  <div>
  <table class="table table-striped">
    <tr>
      <td><h4>Title</h4></td>
      <td colspan=3><h4>Links</h4></td>
    <tr>
    <% @categories.each do |category| %>
      <tr>
        <td><strong><%= category.name.titlecase %></strong></td>
        <td><%= link_to "Show Category", admin_category_path(category) %></td>
        <td><%= link_to "Edit Category", edit_admin_category_path(category) %></td>
        <td><%= link_to "Delete Category", admin_category_path(category),
                method: :delete, data: { confirm: "Are You sure?" } %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Create Category", new_admin_category_path %>
</div>
