<%= form_for([@user, @post], html:{ multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: @post %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :category_id %>
    <%= f.select :category_id, options_for_select(Category.all.collect{|c| [c.name.titleize, c.id]}),
        prompt: 'Select Category' %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>

    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>  

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: 'form-control' %>

    <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>

    <%= f.fields_for :asset do |t| %>
      <%= t.label :image %>
      <% if @post.assets.size > 1 %>
        <% @post.assets.each do |asset| %>
          <div>
            <%= image_tag asset.image.url(:thumb) %>
          </div>
        <% end %>
        <%= t.file_field :image, accept: 'image/png,image/jpeg,image/gif', multiple: true %>
      <% else %>
        <%= t.file_field :image, accept: 'image/png,image/jpeg,image/gif', multiple: true %>
      <% end %>
    <% end %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>