<% provide(:title, @post.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>Title: <%= @post.name %></h1>
      <h4>Category: <%= @post.category.name.titlecase %></h4>
      <h4>Description: <%= @post.description %></h4>
      <h4>
        Posted By: <%= @post.user.name %>
        <% if current_user && current_user.id != @post.user_id %>
          <%= link_to "Message Me", conversations_path(conversation:
              { sender_id: current_user.id, receiver_id: @post.user.id }), method: "post" %>
        <% end %>
      </h4>
      <h4>Contact Information: <%= @post.phone_number %></h4>
      <h4>City: <%= @post.city %></h4>
      <% if @assets.count > 0 %>
        <h3>Images (<%= @assets.count %>)</h3>
        <div>
          <% @assets.each do |asset|  %>
            <div>
              <%= link_to image_url(asset.image.url) do%>
                <%= image_tag asset.image.url(:thumb) %>
              <% end %>
              <h4><%= asset.image_file_name %></h4>
              <%= link_to "Delete Image", user_post_asset_path(@user, @post, asset.id), 
                  method: :delete, data: { confirm: "Are You sure?" } %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= link_to "Edit Advertisement", edit_user_post_path(@post.user_id, @post) if current_user && current_user.id == @post.user_id %>
      <%= link_to "Interested", send_mail_user_post_path(@user, @post), class: "btn btn-primary"  if current_user && current_user.id != @post.user_id %>
   </section>
  </aside>
</div>