<% provide(:title, @post.name) %>
<div class="row  has-error">
  <aside class="col-md-10 col-md-offset-2">
    <section class="user_info">
      <h3><strong><%= @post.name %></strong></h3>
      <% if @reviews.count > 0 %>
        <p class="rating-golden">
          <span>
            <%= @reviews.average(:rating).round(1) %>
            <span class="fas fa-star"></span>
          </span>
          <span><%= "(#{pluralize(@reviews.count, "Review")})" %></span>
        </p>
      <% end %>
      
      <div>
        <p><strong>Category: </strong><%= @post.category.name.titlecase %></p>
        <p><strong>Description: </strong><%= @post.description %></p>
        <p>
          <strong>Posted By: </strong><%= @post.user.name %>
          <% if @post.approved_id.present? && (current_user.nil? || @post.user != current_user) %>
            <%= link_to "Message Me", find_or_create_conversations_path(conversation:
              { receiver_id: @post.user.id, post_id: @post.id }) %>
          <% end %>
        </p>
        <p><strong>Contact Information: </strong><%= @post.phone_number %></p>
        <p><strong>City: </strong><%= @post.city %></p>
        <%= link_to "Interested", send_mail_user_post_path(@user, @post), class: "btn btn-primary" if @post.approved_id.present? && (current_user.nil? || @post.user != current_user) %>
      </div>
    </section>
  </aside>
</div>
<% if @assets.count > 0 %>
  <hr>
  <h3>Images (<%= @assets.count %>)</h3>
  <div class="row">
    <% @assets.each do |asset|  %>
      <div class="col-sm-2 mb-3">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><%= File.basename(asset.image_file_name, ".*") %></h5>
          </div>
          <div class="card-body">
            <%= link_to image_url(asset.image.url) do%>
              <%= image_tag asset.image.url(:thumb) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
<% end %>
<div class="row">
  <% if logged_in? %>
    <div class="col-md-7 mb-3 add_review">
      <%= render "review_form"%>
    </div>
  <% else %>
    <h3>Login to post your review!</h3>
  <% end %>
</div>
<% if @reviews.count > 0  || (current_user && @pendingreviews.count > 0) %>
  <div class="row">
    <% if @reviews.present? %>    
      <%= will_paginate @reviews, param_name: 'reviews_page' %>
      <% @reviews.each do |review|  %>
        <% unless params[:review].to_i == review.id %>
          <div class="d-block review">
            <div class="card mb-3">
              <div class="card-header">
                <h5 class="card-title">
                  <%= review.heading %>
                  <% review.rating.to_i.times do  %>
                    <span><i class="fas fa-star rating-golden"></i></span>
                  <% end %>
                  <% review.blank_stars.times do %>
                    <span><i class="far fa-star"></i></span>
                  <% end %>
                </h5>
              </div>
              <div class="card-body">
                <p>Reviewed by <%= review.user.name %></p>
                <p><%= review.content %></p>
              </div>
              <% if review.user == current_user %>
                <div class="card-footer">
                  <%= link_to "Edit Review", edit_user_post_review_path(@post.user, @post, review) %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= will_paginate @reviews, param_name: 'reviews_page' %> 
    <% end %>
    <% if @pendingreviews.present? %>
      <% @pendingreviews.each do |pending| %>
        <div class="d-block review">
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title">
                <%= pending.heading %>
                <% pending.rating.to_i.times do  %>
                  <span><i class="fas fa-star rating-golden"></i></span>
                <% end %>
                <% pending.blank_stars.times do %>
                  <span><i class="far fa-star"></i></span>
                <% end %>
                <span class="badge badge-warning">Pending</span>
              </h5>
            </div>
            <div class="card-body">
              <p>Reviewed by <%= pending.user.name %></p>
              <p><%= pending.content %></p>
            </div>
            <% if pending.user == current_user %>
              <div class="card-footer">
                <%= link_to "Edit Review", edit_user_post_review_path(@post.user, @post, pending) %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>