<% provide(:title, @post.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>Title: <%= @post.name %></h1>
      <% if @reviews.count > 0 %>
        <p class="rating-golden">
          <span>
            <%= @reviews.average(:rating).round(1) %>
            <span class="glyphicon glyphicon-star"></span>
          </span>
          <span><%= "(#{pluralize(@reviews.count, "Review")})" %></span>
        </p>
      <% end %>
      <h4>Category: <%= @post.category.name.titlecase %></h4>
      <h4>Description: <%= @post.description %></h4>
      <h4>
        Posted By: <%= @post.user.name %>
        <% if @post.approved_id.present? && (current_user.nil? || @post.user != current_user) %>
          <%= link_to "Message Me", find_or_create_conversations_path(conversation:
              { receiver_id: @post.user.id, post_id: @post.id }) %>
        <% end %>
      </h4>
      <h4>Contact Information: <%= @post.phone_number %></h4>
      <h4>City: <%= @post.city %></h4>
      <%= link_to "Interested", send_mail_user_post_path(@user, @post), class: "btn btn-primary" if @post.approved_id.present? && (current_user.nil? || @post.user != current_user) %>
    </section>
  </aside>
</div>
<% if @assets.count > 0 %>
  <h3>Images (<%= @assets.count %>)</h3>
  <div class="row">
    <% @assets.each do |asset|  %>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= File.basename(asset.image_file_name, ".*") %></h3>
          </div>
          <div class="panel-body">
            <%= link_to image_url(asset.image.url) do%>
              <%= image_tag asset.image.url(:thumb) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="row">
  <% if logged_in? %>
    <div class="col-md-6 add_review">
      <%= render "review_form"%>
    </div>
  <% else %>
    <h3>Login to post your review!</h3>
  <% end %>
</div>
<% if @reviews.count > 0 %>
  <h3>Reviews (<%= @reviews.count %>)</h3>
  <div class="row">
    <%= will_paginate @reviews, param_name: 'reviews_page' %>
    <% @reviews.each do |review|  %>
      <% unless params[:review].to_i == review.id %>
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= review.heading %>
                <% review.rating.to_i.times do  %>
                  <span class="glyphicon glyphicon-star rating-golden"></span>
                <% end %>
                <% review.blank_stars.times do %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
              </h3>
            </div>
            <div class="panel-body">
              <p>Reviewed by <%= review.user.name %></p>
              <p><%= review.content %></p>
              <%= link_to "Edit Review", edit_user_post_review_path(@post.user, @post, review) if review.user == current_user %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @reviews, param_name: 'reviews_page' %>
    <% @pendingreviews.each do |pending|  %>
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= pending.heading %>
              <% pending.rating.to_i.times do  %>
                <span class="glyphicon glyphicon-star rating-golden"></span>
              <% end %>
              <% pending.blank_stars.times do %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            </h3>
          </div>
          <div class="panel-body">
            <p>Reviewed by <%= pending.user.name %></p>
            <p><%= pending.content %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>