<% provide(:title, "Home") %>
<div>
  <div>
    <%= form_for :search_posts, url: search_posts_path, method: :get do |f| %>
      <%= f.text_field :name, class: "col-md-6", placeholder: "Search By Name" %>
      <%= f.text_field :city, class: "col-md-4 col-md-offset-2", placeholder: "Search By Location" %>
      <%= f.submit "Search", class: 'btn btn-success' %>
    <% end %>
  </div>
  <h1>All Categories</h1>
  <div class="row">
    <%= will_paginate @categories, param_name: 'categories_page' %>
      <% @categories.each do |category| %>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= category.name.titlecase %></h3>
            </div>
            <div class="panel-body">
              <%= link_to "Show Category", category_path(category) %>
              <% if current_user && current_user.admin? %>
                <%= link_to "Edit Category", edit_admin_category_path(category) %>
                <%= link_to "Delete Category", admin_category_path(category),
                    method: :delete, data: { confirm: "Are You sure?" } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <%= will_paginate @categories, param_name: 'categories_page' %>
  </div>
  <%= link_to "Create Category", new_admin_category_path if current_user && current_user.admin? %>
</div>
