<% provide(:title, @category.name.titlecase) %>
<div class="row">
  <aside class="col-md-8 col-md-offset-2">
    <section class="user_info">
      <h1><%= @category.name.titlecase %></h1>
      <% if @posts.count > 0 %>
        <h1><%="We have #{pluralize(@posts.count, "advertisement")} under this category."%></h1>
        <hr>
        <div>
          <%= will_paginate @posts, param_name: 'posts_page' %>
            <ul class="users">
              <% @posts.each do |post| %>
                <li>
                  <strong><%= post.name.titlecase %></strong>
                  <%= link_to "Show Advertisement", user_post_path(post.user_id, post.id) %>
                </li>
              <% end %>
            </ul>
          <%= will_paginate @posts, param_name: 'posts_page' %>
        </div>
      <% end %>
    </section>
  </aside>
</div>