<% provide(:title, @category.name.titlecase) %>
<div class="row">
  <aside class="col-md-8 col-md-offset-2">
    <section class="user_info">
      <p>
        <span><h1><%= @category.name.titlecase %></h1></span>
        <% if current_user && current_user.admin? %>
          <span class="pull-right">
            <%= link_to "Edit Category", edit_admin_category_path(@category) %>
            <%= link_to "Delete Category", admin_category_path(@category),
                method: :delete, data: { confirm: "Are You sure?" } %>
          </span>
        <% end %>
      </p>

      <% if @posts.count > 0 %>
        <h1><%="We have #{pluralize(@posts.count, "advertisement")} under this category."%></h1>
        <hr>
        <div class="row">
          <%= will_paginate @posts, param_name: 'posts_page' %>
            <% @posts.each do |post| %>
              <div class="col-md-3">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= post.name.titlecase %></h3>
                  </div>
                  <div class="panel-body">
                    <%= link_to "Show Advertisement", user_post_path(post.user_id, post.id) %>
                  </div>
                </div>
              </div>
            <% end %>
          <%= will_paginate @posts, param_name: 'posts_page' %>
        </div>
      <% end %>
    </section>
  </aside>
</div>